@import 'variables';
@import 'mixins';

.layout-wrapper {
  min-height: 100vh;
}
.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 6rem 1rem 2rem 1rem;
  transition: margin-left $transitionDuration;
  @include respond-to('medium') {
    padding: 6rem $content-padding $content-padding $content-padding;
  }
}

.layout-main {
  flex: 1 1 auto;
}
.layout-sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100svh;
  z-index: 20;
  overflow-y: auto;
  user-select: none;
  bottom: 0;
  left: 0;
  transition:
    transform $transitionDuration,
    left $transitionDuration;
  background-color: var(--surface-overlay);
  padding: 0.5rem;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.02),
    0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
  @include respond-to('medium') {
    height: calc(100vh - 70px);
  }
}
