@import 'mixins';
.home {
  &__evolution-grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: flex-start;
    gap: 5px;
  }
  &__evaluation-list {
    height: 300px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 10px;
    }
  }

  &__selectType {
    border: none;
    .p-dropdown-label {
      padding: 5px;
    }
    .p-dropdown-trigger {
      width: fit-content;
      padding: 0 5px;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
.legend {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  &:before {
    content: '\2586';
    font-size: 12px;
    color: #00034d;
    top: -3px;
    position: relative;
  }

  &--wallet {
    &:before {
      color: #1c1c1c;
    }
  }
}

.apexcharts-tooltip {
  color: #000;
}
