<section class="home">
  <div class="grid">
    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let card of cardsContent">
      <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 text-sm xl:text-lg mb-3">{{ card.title }}</span>
            <div class="text-900 font-medium text-xl xl:text-2xl">
              {{ card.value | currency: 'BRL' }}
            </div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-{{
              card.iconColor
            }}-100 border-round"
            [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
          >
            <i class="pi {{ card.icon }} text-{{ card.iconColor }}-500 text-xl xl:text-2xl"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-9">
      <div class="card text-center" *ngIf="!loadingCDI">
        <strong>Comparação CDI</strong>

        <div class="mt-3 flex align-items-center justify-content-between">
          <span class="flex gap-3">
            <strong class="text-xs legend legend--wallet"> Carteira </strong>
            <strong class="text-xs legend">CDI</strong>
          </span>
          <p-dropdown
            [(ngModel)]="selectedCDiYear"
            [options]="yearsList"
            optionLabel="label"
            optionValue="value"
            (onChange)="setChartCDIYear()"
          />
        </div>
        <div class="max-w-full overflow-hidden">
          <apx-chart
            #cdiChart
            [series]="chartCDIOptions.series"
            [chart]="chartCDIOptions.chart"
            [xaxis]="chartCDIOptions.xaxis"
            [yaxis]="chartCDIOptions.yaxis"
            [stroke]="chartCDIOptions.stroke"
            [dataLabels]="chartCDIOptions.dataLabels"
            [fill]="chartCDIOptions.fill"
            [markers]="chartCDIOptions.markers"
            [tooltip]="chartCDIOptions.tooltip"
            [grid]="chartCDIOptions.grid"
            [legend]="chartCDIOptions.legend"
          >
          </apx-chart>
        </div>
      </div>
      <div class="card text-center" *ngIf="!loadingCDI">
        <strong>Evolução do patrimônio</strong>

        <div class="home__evolution-grid">
          <div class="mt-3">
            <div class="flex align-items-center justify-content-between">
              <span class="flex gap-3">
                <strong class="text-sm"> Visualizar por: </strong>
              </span>
              <p-dropdown
                [(ngModel)]="selectedEvolutionType"
                [options]="evolutionType"
                optionLabel="label"
                optionValue="value"
                (onChange)="setEvolutionView()"
                styleClass="home__selectType"
              />
            </div>

            <ul class="py-0 pl-0 pr-2 list-none home__evaluation-list">
              <li
                *ngFor="let item of evolutionList"
                class="flex align-items-center justify-content-between py-3 border-bottom-1 border-200"
              >
                <p class="m-0">{{ item.label }}</p>
                <p class="m-0">{{ item.total }}</p>
              </li>
            </ul>
          </div>
          <div class="max-w-full overflow-hidden">
            <apx-chart
              #cdiChart
              [series]="chartEvolutionOptions.series"
              [chart]="chartEvolutionOptions.chart"
              [xaxis]="chartEvolutionOptions.xaxis"
              [yaxis]="chartEvolutionOptions.yaxis"
              [stroke]="chartEvolutionOptions.stroke"
              [dataLabels]="chartEvolutionOptions.dataLabels"
              [fill]="chartEvolutionOptions.fill"
              [markers]="chartEvolutionOptions.markers"
              [tooltip]="chartEvolutionOptions.tooltip"
              [grid]="chartEvolutionOptions.grid"
              [legend]="chartEvolutionOptions.legend"
            >
            </apx-chart>
          </div>
        </div>
      </div>

      <div class="card text-center" *ngIf="!loadingAports">
        <strong>Comparativo do aportes</strong>

        <div class="mt-3 flex align-items-center justify-content-between">
          <span class="flex gap-3">
            <strong class="text-xs legend legend--wallet"> Ano anterior </strong>
            <strong class="text-xs legend">Ano selecionado</strong>
          </span>
          <p-dropdown
            [(ngModel)]="selectedAportsYear"
            [options]="yearsList"
            optionLabel="label"
            optionValue="value"
            (onChange)="setAportYear()"
          />
        </div>

        <div class="max-w-full overflow-hidden">
          <apx-chart
            [series]="chartAportsOptions.series"
            [chart]="chartAportsOptions.chart"
            [xaxis]="chartAportsOptions.xaxis"
            [yaxis]="chartAportsOptions.yaxis"
            [stroke]="chartAportsOptions.stroke"
            [dataLabels]="chartAportsOptions.dataLabels"
            [markers]="chartAportsOptions.markers"
            [plotOptions]="chartAportsOptions.plotOptions"
            [legend]="chartAportsOptions.legend"
            [grid]="chartAportsOptions.grid"
          >
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-3">
      <div class="card text-center">
        <strong>Próximos pagamentos</strong>
        <!-- OU PAGAMENTOS DO MES ou DIVIDENDOS DO MES -->

        <div class="mt-2">
          <schedule-calendar [events]="nextPayments" />
        </div>
      </div>
      <div class="card text-center">
        <strong>Alocações</strong>

        <div class="mt-3" *ngIf="!loading">
          <apx-chart
            #chart
            [series]="chartAlocationsOptions.series"
            [chart]="chartAlocationsOptions.chart"
            [labels]="chartAlocationsOptions.labels"
            [colors]="chartAlocationsOptions.colors"
            [legend]="chartAlocationsOptions.legend"
            [tooltip]="chartAlocationsOptions.tooltip"
            [dataLabels]="chartAlocationsOptions.dataLabels"
            [responsive]="chartAlocationsOptions.responsive"
          >
          </apx-chart>
        </div>
      </div>
      <div class="card text-center">
        <strong>Distribuição - Renda Variável</strong>
        <div class="mt-3" *ngIf="!loading">
          <apx-chart
            #chart
            [series]="chartDistOptions.series"
            [chart]="chartDistOptions.chart"
            [labels]="chartDistOptions.labels"
            [colors]="chartDistOptions.colors"
            [legend]="chartDistOptions.legend"
            [tooltip]="chartDistOptions.tooltip"
            [dataLabels]="chartDistOptions.dataLabels"
            [responsive]="chartDistOptions.responsive"
          >
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</section>
