@import 'primeng/resources/themes/lara-dark-blue/theme.css';

:root {
  --highlight-bg: #292929;
  --surface-0100: #414141;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --dp-highlight: rgba(255, 255, 255, 0.12);
  --dp-highlight-color: rgba(255, 255, 255, 0.87);
}
