@import 'primeng/resources/themes/lara-light-blue/theme.css';

:root {
  --highlight-bg: #e8edf5;
  --surface-0100: #fff;
  --shadow-color: rgba(163, 179, 204, 0.5);
  --dp-highlight: rgba(0, 0, 0, 0.12);
  --dp-highlight-color: rgba(0, 0, 0, 0.87);
}
