.accio-tabs {
  .p-tabview {
    &-nav {
      justify-content: flex-start;
      border: none;
      background: transparent;
      display: flex;
      flex-wrap: wrap;
      border-bottom: solid 1px var(--border-color);
      margin-bottom: 10px;

      li {
        a {
          justify-content: center;
          border: none;
          background: transparent;
          padding: 12px;

          span {
            width: 100%;
            text-align: center;
            color: #9e9e9e;
            padding: 4px;
            word-break: break-word;
          }
        }

        &.p-highlight {
          span {
            background: transparent;
            color: var(--text-color);
          }
        }
      }
    }

    &-ink-bar {
      display: none;
    }
  }
  .p-tabview-panels {
    background: transparent;
    // border-radius: 12px;
    // background: var(--surface-card);
    // border: 1px solid var(--surface-border);
    // padding: 2rem;
    // box-shadow: var(--card-shadow);
  }

  @media (width <= 576px) {
    .p-tabview-nav {
      li {
        flex: 1 1 100%;
        min-width: unset;
      }
    }
  }
}
