<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div
    class="h-auto px-2 py-2 text-center border-1 border-200 border-round-lg overflow-hidden relative text-xs"
    (click)="clickEvent($event, day)"
    [ngClass]="{
      'active-highlight': (day.isToday && !selectedDate) || selectedDate == formatDate(day.date),
    }"
  >
    <span>{{ day.date | calendarDate: 'monthViewDayNumber' : locale }}</span>
    <span class="event-mark" *ngIf="day.events.length"></span>
  </div>
</ng-template>

<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [cellTemplate]="customCellTemplate"
>
</mwl-calendar-month-view>

<p-overlayPanel #op appendTo="body">
  <ul class="list-none p-2 date-details">
    <ng-container *ngFor="let dvd of selectedContent; let last = last">
      <li class="p-2 w-full flex flex-column m-0 border-200 pr-2" [class.border-bottom-1]="!last">
        <span class="flex flex-row justify-content-between align-items-center">
          <strong class="my-0">{{ dvd.ticker }}</strong>
          <small>{{ dvd.value | currency: 'BRL' }}</small>
        </span>
        <span class="flex flex-row justify-content-between align-items-center">
          <p class="my-1 mx-0 flex flex-column text-sm">
            Data base
            <small style="font-size: 10px" class="mt-1">{{
              dvd.date_com | date: 'dd/MM/YYYY'
            }}</small>
          </p>
          <p class="my-1 mx-0 flex flex-column text-sm">
            Rendimento
            <small style="font-size: 10px" class="mt-1 text-right">{{ dvd.percent }}%</small>
          </p>
        </span>
      </li>
    </ng-container>
  </ul>
</p-overlayPanel>
